---
layout: default
---

<section class="text-start py-3">
  <div class="container">
    <div class="row">
      <!--<h1 class="sitetitle">{{ site.name }}</h1>-->
      <p class="lead">
        {{ site.description }}
      </p>
    </div>
  </div>
</section>  

<section class="pb-5">
    <div class="container">
        <div class="row">
          {% for post in paginator.posts %}
          {% include postbox.html %}
          {% endfor %}
        </div>
    </div>
</section>

<section class="pb-5">
  <div class="container">
    <div class="row">
      <div class="bottompagination">

<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
      </div>
    </div>
  </div>
</section>
